body > div.wrapper > div.slider {
  width: 100%;
  height: 600px; }
  body > div.wrapper > div.slider > div.background {
    width: inherit;
    height: inherit;
    position: relative;
    background: black; }
    body > div.wrapper > div.slider > div.background > img {
      width: inherit;
      height: inherit;
      object-fit: cover;
      opacity: 0.5; }
    body > div.wrapper > div.slider > div.background > div {
      width: 100%;
      height: inherit;
      position: absolute;
      top: 0;
      left: 0;
      display: grid;
      justify-content: center;
      justify-items: center;
      align-content: flex-end;
      grid-template-areas: 'title' 'text'; }
      body > div.wrapper > div.slider > div.background > div > h1 {
        font-size: 44px;
        text-transform: capitalize;
        font-weight: normal;
        color: #f7fdfe;
        padding: 15px 0; }
      body > div.wrapper > div.slider > div.background > div > p {
        width: 80%;
        font-size: 20px;
        text-align: center;
        color: #f7fdfe;
        padding-top: 15px;
        padding-bottom: 90px; }
